.Quote {
  padding: 10px;
  border: 2px solid #888;
  margin-bottom: 10px;
  position: relative;
}

.Quote-text {
  margin: 0 0 5px;
  white-space: pre-wrap;
}
.Quote-text::before {
  content: '“';
}
.Quote-text::after {
  content: '”';
}

.Quote-author {
  margin: 0;
}
.Quote-author::before {
  content: "—";
  margin-right: 5px;
}

.Quote-buttons {
  position: absolute;
  right: 10px;
  top: 5px;
}

.Quote-buttons button {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 0;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.Quote-buttons button:hover {
  transform: scale(1.1);
}

.Quote-buttons button:active {
  transform: scale(1);
}

.Quote-editBtn {
  background: url(./ic-edit.svg) 50% 50% no-repeat;
  background-size: auto 100%;
}

.Quote-removeBtn {
  background: url(./ic-remove.svg) 50% 50% no-repeat;
  background-size: auto 90%;
}
