.Header {
  margin: 0 -15px;
  padding: 10px 15px;
  border-bottom: 2px solid #444;
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
}
.Header a {
  text-decoration: none;
  color: #000;
}
.Header nav a {
  padding: 5px 10px;
  border-right: 1px solid #000;
  transition: 0.3s;
}
.Header nav a:last-child {
  border: none;
}
.Header nav a:hover {
  opacity: 0.66;
}
.Header nav a.active {
  color: #e00;
}