.AddQuote label {
  display: block;
  margin-bottom: 5px;
}

.AddQuote select, .AddQuote input, .AddQuote textarea {
  padding: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.AddQuote textarea {
  resize: none;
}

.AddQuote button {
  padding: 5px 12px;
}