.Quotes {
  display: flex;
}
.Quotes > :first-child {
  flex-basis: 25%;
}
.Quotes > :last-child {
  flex-basis: 75%;
  padding: 10px 0 0 10px;
}

.Quotes h3 {
  margin: 0 0 15px;
  font-size: 26px;
}